.doctorsL .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1rem;
    padding: 0px 13px;
  }

.doctorsL .box-container .box img{
    height: 10rem;
    width: 14rem;
    border-radius: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }