.new-line {
  white-space: pre-line;
}

.category .box-container {
    display: grid;
   justify-content:space-around;
   
  }
  
  .category .box-container .box {
    
    grid-row: 1;
  }
  .category .box-container .box2 {
    grid-row: 1;
  }
  .category .box-container .box img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
  
  .category .box-container .box h3 {
    font-size: 2rem;
    color: #219150;
  }
  
  .category .box-container .box p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }




.about {
  font-size: 1.3rem;
    background: var(--blue);
    display: block;
    padding: 2rem;
}
 

  
  .about .content h3 {
    font-size: 3rem;
    color: #219150;
  }
  
  .about .content p {
    font-size: 1.5rem;
    color: white;
    line-height: 1;
  }
  

  