.new-line {
  white-space: pre-line;
}
.category {
  background-color: var(--blue);
}
.category .box-container {
    display: grid;
   justify-content:space-around;
  }
  
  .category .box-container .box {
    
    grid-row: 1;
  }
  .category .box-container .box2 {
    grid-row: 1;
  }
  .category .box-container .box2 h5{
    color: white;
  }
  .category .box-container .box img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
  }
  
  
  .category .box-container .box p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }




.about {
  font-size: 1rem;
  background: var(--light-color);
  display: block;
    padding: 2rem;
}
 

  
  .about .content h3 {
    font-size: 2rem;
    color: #219150;
  }
  
  .about .content p {
    color: rgb(14, 9, 9);
  }
  

  