.doctors{
  background-color: var(--blue);
}

.doctors .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap:1rem;
  padding: 0px 13px;
}

.doctors .box-container .box{
  text-align: center;
  background:#fff;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.doctors .box-container .box img{
  height: 9rem;
  width: 13rem;
  border-radius: .5rem;
  margin:5px;
}

.doctors .box-container .box h4{
  color:var(--black);
  font-weight: 900;
  font-size: 1rem;
}
.doctors .box-container .box h5{
  color:var(--black);
  font-size: 1rem;
}
.doctors .box-container .box span{
  color:var(--green);
  font-size: 1.5rem;
}

.doctors .box-container .box .share{
  padding-top: 2rem;
}

