.doctors{
  background-color: var(--blue);
}

.doctors .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap:1rem;
  padding: 0px 13px;
}

.doctors .box-container .box{
  text-align: center;
  background:#fff;
  border-radius: .5rem;
  border:var(--border);
  box-shadow: var(--box-shadow);
}

.doctors .box-container .box img{
  height: 14rem;
  border:var(--border);
  border-radius: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doctors .box-container .box h3{
  color:var(--black);
  font-size: 1.5rem;
}

.doctors .box-container .box span{
  color:var(--green);
  font-size: 1.5rem;
}

.doctors .box-container .box .share{
  padding-top: 2rem;
}

.doctors .box-container .box .share a{
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--green);
  border-radius: .5rem;
  border:var(--border);
  margin:.3rem;
}

.doctors .box-container .box .share a:hover{
  background:var(--green);
  color:#fff;
  box-shadow: var(--box-shadow);
}