
.heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--green);
  width: 100%;
  padding: 0px 10px;
  font-family: "Cambria";
  margin: 0;
}

.headingPage{
  margin-top: 9.5rem;
}

.heading span{
    color: var(--green);
}

#home {  
    background-size: cover;
    margin-bottom: -250px;
  }
  
  #home .container {
    position: relative;
  }
  
  #home h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--green);
  }
  
  #home h2 {
    color: white;
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  #home .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }
  
  #home .btn-get-started:hover {
    background: #3fbbc0;
  }
  
  @media (min-width: 1024px) {
    #home {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 992px) {
    #home {
      margin-bottom: 0;
      height: 100vh;
    }
    #home .container {
      padding-bottom: 63px;
    }
    #home h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #home h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-height: 600px) {
    #home {
      height: 110vh;
    }
  }
  