.review{
  background-color: var(--blue);
}

.review .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap:1rem;
  padding: 0px 13px;
}

.review .box-container .box{
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding:5px;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.review .box-container .box img{
  height: 14rem;
  width: 20rem;
  border-radius: 10%;
  object-fit: cover;
  border:.1rem solid #fff;
}

.review .box-container .box h4{
  color:black;
  font-size: 1.2rem;
  font-weight: 800;
}
.review .box-container .box h5{
  font-size: 1rem;
}
.review .box-container .box .text{
  color:black;
  line-height: 1;
  font-size: 1rem;
}

