@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


header{
  position: fixed;
  top:0; left: 0; right:0;
  background: #fff;
  padding: .1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  border-bottom: .2rem solid var(--green) ;
}

header .logo img{
  width: 6rem;
}

header .navbar a{
  font-size: 1rem;
  font-weight:900;
  border-radius: .5rem;
  padding:.5rem 1.5rem;
}

header .navbar a.active,
header .navbar a:hover{
  color:#fff;
  background: var(--green);
}

header .icons i{
  cursor: pointer;
  height:3.5rem;
  line-height: 3.5rem;
  width:3.5rem;
  text-align: center;
  font-size: 1rem;
  color:var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
  display: none;
}




.icons ul li{
  display: inline-block;
}
.icons ul{
margin-bottom: 0;
}

.icons ul li a{
color: rgb(245, 240, 240);
display: block;
width: 155%;
text-align: center;
padding:0rem .5rem;
line-height: 3rem;
font-size: 1rem;
font-weight: 900;
background: rgb(224, 47, 47);
transition: .5s;
border: 1px solid red;

}
.icons ul li a:hover,
.icons ul li a.active{
color:rgb(240, 21, 21);
border: 1px solid red;
background-color: whitesmoke;
}
.icons ul ul{
display: inline-block;
width: 11%;
position: fixed;
opacity: 0;
visibility: hidden;
padding-left: 0rem;
}
.icons ul ul li{
width: 70%;
padding-left: 0rem;
}
.icons ul ul li a{
line-height: 2rem;
}


.icons ul li:hover > ul{
position: absolute;
top: 60px;
opacity: 1;
visibility: visible;
}




#topbar {
background: #fff;
height: 6rem;
font-size: 1rem;
z-index: 996;
}

#topbar img{
width: 100%;
height: 100%;
}

#topbar.topbar-scrolled {
top: -160px;
}


#header {
background: #fff;
z-index: 997;
padding: 0px 0;
top: 5rem;
box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
top: 0;
}




@media (max-width:1017px){

  header .icons #menu-bars{
    display: inline-block;  
    margin-left: 4rem;
    border: 2px solid var(--green);
}

.icons ul {
      margin-bottom: 0;
      margin-left: 48rem;
  }

header .navbar{
    position: absolute;
    top:100%; left:0; right:0;
    background:#fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    border-bottom: .1rem solid rgba(0,0,0,.2);
    padding:1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

header .navbar a{
    display: inline-block;
    width: 100%;
    padding:0.2rem;
    margin:0.2rem;
    font-size: 1.8rem;
    background:#eee;
}

}

