
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0px 1px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  transition: all .2s linear;
}

:root{
  --green:#16a085;
  --black:#444;
  --light-color:#777;
  --blue: #024754;
  --brown: #333;
  --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
  --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
  --border:.2rem solid var(--green);
   --green:#27ae60;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

html{
  font-size: 1.2vw;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

/* media queries  */

@media (max-width:991px){

  html{
        font-size: 1.3vw;
  }
  
  header{
      padding:1rem 2rem;
  }

  section{
      padding:2rem;
  }


}

 section{
  padding: 50px 0;
  overflow: hidden;
}
/*
.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
} */

.btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: black;
  background: orange;
}
.btn-get-started:hover {
  background: #e6eaeb;
}


.container {
  margin-top: 15px;
  max-width: 98% !important;/*Set your own width %; */
}